body{
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-color {
         background-color: rgb(105, 104, 104);
         
}

.benner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(Image/hal\ depan.png);
    background-size: cover;
    background-position: center;
}
